<% layout('layout') -%>

    <div class="container">
        <div class="pb-2 mt-4 mb-4 border-bottom">
            <h2>New NFT Collection</h2>
            <div class="d-flex flex-wrap">
                <div class="mr-auto small mt-3">&bull; Mint new NFT art collection with custom smart contract.<br>
                    &bull; Each with unique properties combination.<br>
                    &bull; Secondary market available for purchase at <a
                    href="https://testnets.opensea.io/collection/moontest01" target="blank">Opensea.io</a>
                </div>
                <div class="mt-auto">
                    <button class="btn btn-sm btn-light" type="button" id="connectWalletButton" onclick="connectWallet()">
                        Connect Wallet &raquo;
                    </button>
                </div>
            </div>
        </div>

        <div class="pb-2 mt-4 mb-4 border-bottom">
            <% include templates/alert.ejs %>
            <div id="metamaskAlerts"></div>

            <div id="mintDiv" class="mb-3">
                <div class="d-flex justify-content-center">
                    <div class="input-group input-group-lg" style="max-width: 600px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">I want to mint</span>
                        </div>
                        <input id="mintAmount" type="number" class="form-control" value=1 aria-label="amount" min="1" max="50" step="1">
                        <div class="input-group-append">
                            <span id="mintTotalPrice" class="input-group-text">NFT for 0.00001 ETH</span>
                            <button id="mintNewNftButton" class="btn btn-primary" type="button">Mint!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pb-2 mt-4 mb-4 border-bottom">
            <div class="d-flex justify-content-between">
                <h3>Collection Gallery:</h3>
                <div class="align-self-center">View on <a href="https://testnets.opensea.io/collection/moontest01" target="_blank">
                    Opensea.io</a></div>
            </div>
            <div class="small mt-3" id="galleryMsg">
                <% if (!totalSupply) { %>
                    &bull; Items are yet to be create.<br>
                    &bull; Be the first to mint a NFT.
                <% } %>
            </div>
            <div class="card-deck" id="galleryHolder">
                <% let maxShow = Math.min(8, totalSupply); for (let tokenId=1; tokenId<=maxShow; tokenId++) { %>
                <div class="card mb-2" style="min-width: 252px; max-width: 252px;">
                    <a href="/new-nft-project/asset/<%= tokenId %>">
                        <img src="/new-nft-project/img/<%= tokenId %>" class="card-img-top" alt="">
                    </a>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="h5">#<%= tokenId %>
                            <a href="https://testnets.opensea.io/assets/<%= contractAddress %>/<%= tokenId %>">
                                <img style="width:30px;" class="ml-2" src="https://storage.googleapis.com/opensea-static/Logomark/Logomark-Blue.png"/>
                            </a>
                        </div>
                        <div>
                            <a href="/new-nft-project/asset/<%= tokenId %>" class="btn btn-sm btn-outline-primary">Details</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <% if (totalSupply > 8) { let pageTotal = Math.ceil(totalSupply / 8); %>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mt-2">
                  <li id="galleryPagePrev" class="page-item disabled"><button class="page-link">Prev</button></li>
                  <% for (let page=1; page<=pageTotal; page++) { %>
                    <li id="galleryPage<%= page %>" class="page-item"><button class="page-link"><%= page %></button></li>
                  <% } %>
                  <li id="galleryPageNext" class="page-item"><button class="page-link" href="#">Next</button></li>
                </ul>
            </nav>
            <% } %>
        </div>

        <div class="pb-2 mt-4 mb-4 border-bottom">
            <h3>Your NFT Collection:</h3>
            <div class="small mt-3" id="userCollectionMsg">&bull; Please connect metamask wallet to see your collection.
            </div>
            <div class="card-deck" id="userCollectionHolder"></div>
        </div>
    </div>
    <script>
        let contractAddress = '<%= contractAddress %>';
        let contractAbi = '<%- JSON.stringify(contractAbi) %>';
        let mintPrice = '<%= mintPrice %>';
        let totalSupply = '<%= totalSupply %>';
    </script>
    <script type="module" src="/lib/wallet.js"></script>