<html>
<head>
    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
    
    <style type="text/css">
        html,body{
          overflow: hidden;
        }
        body {
          margin: 0;
          padding: 0;
        }
        canvas {
          padding: 0;
          margin: auto;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
        }

        @media all and (max-width: 767px) {
          canvas {
            object-fit: contain;
          }
        }
    </style>
        
</head>
<body>
  <% if (tokenHash && tokenHash != '0x0000000000000000000000000000000000000000000000000000000000000000') { %>
    <script>
        const tokenHash = '<%= tokenHash %>';
        const tokenAttributes = <%- JSON.stringify(tokenAttributes) %>;
        const fullScreen = true;
        const newlyMinted = <%= newlyMinted %>;
        const postUrl = '<%= postUrl %>';
        const token = '<%= csrfToken %>';
    </script>
    <script src="/lib/new-nft-generator.js"></script>
  <% } %>
</body>
</html>